<a href="{{ url_for('dept_admin.dashboard') }}"
  class="sidebar-link text-violet-200 {% if request.endpoint == 'dept_admin.dashboard' %}active{% endif %}">
  <i class="fas fa-th-large w-5 text-center"></i> Dashboard
</a>
<a href="{{ url_for('dept_admin.courses') }}"
  class="sidebar-link text-violet-200 {% if request.endpoint == 'dept_admin.courses' %}active{% endif %}">
  <i class="fas fa-book w-5 text-center"></i> Courses
</a>
<a href="{{ url_for('dept_admin.units') }}"
  class="sidebar-link text-violet-200 {% if request.endpoint == 'dept_admin.units' %}active{% endif %}">
  <i class="fas fa-list-check w-5 text-center"></i> Units
</a>
<a href="{{ url_for('dept_admin.classes') }}"
  class="sidebar-link text-violet-200 {% if request.endpoint in ('dept_admin.classes', 'dept_admin.class_units') %}active{% endif %}">
  <i class="fas fa-chalkboard w-5 text-center"></i> Classes
</a>
<a href="{{ url_for('dept_admin.trainers') }}"
  class="sidebar-link text-violet-200 {% if request.endpoint == 'dept_admin.trainers' %}active{% endif %}">
  <i class="fas fa-chalkboard-teacher w-5 text-center"></i> Trainers
</a>
<a href="{{ url_for('dept_admin.trainees') }}"
  class="sidebar-link text-violet-200 {% if request.endpoint == 'dept_admin.trainees' %}active{% endif %}">
  <i class="fas fa-user-graduate w-5 text-center"></i> Trainees
</a>
